.text2 {
    font-size: 20px;
    background: linear-gradient(to left, #5E11FF 70%, #F87516);
    -webkit-background-clip: text;
    color: transparent;

}

.sora {
    font-family: 'Sora', sans-serif;
    font-weight: 600;

}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.section-bg {
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);

    background-color: transparent;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF10;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 10px 120px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 30px 30px 30px 30px;



}

.bg-footer{
    background: linear-gradient(to left, #5E11FF 10%, #F87516);
}
.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
  }
  